* {
    background-color: rgb(253, 251, 251);
    margin: 0;
}

#cabecalho {
   top: 0;
}

#titulo {
    color: white;
    background-color: green;
    text-align: center;
}

#minha_foto {
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}

body a {
    padding-left: 60px;
}

.caixinha1 {
    width: 300px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.caixinha1 ol , .caixinha1 li {
    background-color: #efefef;
}

.caixinha2 {
    width: 300px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.caixinha2 ul , .caixinha2 li {
    background-color: #efefef;
    width: 300px;
    
}

.caixinha1, .caixinha2 {
    display: inline-block;
}

div h4 {
    background-color: green;
    color: white;
    font-size: 12px;
    text-align: center;
}


.artigo , .sobre-mim {
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
}

.artigo {
    float: left;
    width: 40%;
    padding-left: 20px;
}

.sobre-mim {
    float: right;
    width: 40%;

}

.tabela {
    color: red;
    background-color: black;
    margin-top: 500px;
    margin-left: 20px;
    font-size: 10px;
}

.tabela .cabecalho {
    color: black;
    font-size: 12px;
}

.corpo-tabela {
    text-align: center;
}

.corpo-tabela td{
    padding: 5px;
    background-color: white;
}

#rodape {
    padding-top: 28px;
    padding-bottom: 20px;
}
