*{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    margin-top: 0px;
    padding-top: 0px;
}

#titulo{
    padding-top: 0px;
    color: white;
    background-color: green;
    text-align: center;
}

#minha_foto{
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px 10px;
}

#licoes_aprendidas{
    text-align:left;
    color: blue;
    margin: auto;
}

#licoes_a_aprender{
    color: red;
    text-align: left;
    margin: auto;
}

#licoes_aprendidas .licoes_a_aprender{
    display: flex;
}

div h2{
    background-color: green;
    color: white;
}